RewriteEngine on

# Si un archivo o directorio físico existe, no hacer nada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo a index.php
RewriteRule . index.php

